<div class="p-ml-5 p-mr-5 p-mb-5" style="margin-bottom: 10px;" style="margin-top: -25px;">
    <p class="p-text-center p-text-bold " style="color: black; font-size: x-large;">Tareas completas</p>
    <div class="p-grid p-jc-around">
        <div *ngIf="taskService.notes.filter(filter).length > 0 then data else noData"> </div>
        <ng-template #data>
            <div style="border-radius: 10px;" class="p-lg-4  p-md-6 p-sm-12   p-mt-4 " *ngFor="let task of taskService.notes.filter(filter)">
                <app-note [id]="task.id" [title]="task.title" [created_at]="task.created_at" [content]="task.content" [favorite]="task.favorite" [complete]="task.completed"></app-note>
            </div>
        </ng-template>
        <ng-template #noData>
            <div class=" p-d-flex p-flex-column p-jc-center">
                <p class="" style="font-size: larger;">Aún no tienes tareas completas</p>
                <div class="p-d-flex  p-jc-center">
                    <button pButton pRiple [routerLink]="['/task/create']" label="Crear una nueva nota" class=" p-shadow-20 p-button-secondary p-button-rounded p-button-lg"></button>
                </div>
            </div>
        </ng-template>
    </div>
</div>