<!-- <img src="./../../../assets/images/river-city.jpg" alt="" srcset=""> -->
<div class="imagen-fondo container">
    <p-messages [enableService]="true"></p-messages>
    <div class="p-d-flex p-jc-center p-ac-center">
        <div class="p-m-5 p-shadow-20 p-p-3  radius p-md-6 p-lg-6 p-sm-10 card">
            <h2 class="p-text-center p-mb-3">Cambiar contraseña</h2>
            <form [formGroup]="change_password_form" (ngSubmit)="submit()">
                <div class="">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-md-6 p-sm-12">
                            <label style="font-weight: 400;" for="username">Usuario</label>
                            <div class="p-col-12">
                                <div class="p-inputgroup">
                                    <input required formControlName="username" type="text" pInputText aria-describedby="username-help" placeholder="">
                                </div>
                                <small id="username-help"></small>
                            </div>
                        </div>
                        <div class="p-field p-md-6 p-sm-12">
                            <label style="font-weight: 400;" for="old_password">Contraseña actual</label>
                            <div class="p-col-12 ">
                                <div class="p-inputgroup">
                                    <input required formControlName="old_password" type="password" pInputText aria-describedby="username-help" placeholder="">
                                </div>
                                <small id="username-help"></small>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-md-6 p-sm-12">
                            <label style="font-weight: 400;" for="password">Nueva contraseña</label>
                            <div class="p-col-12 ">
                                <div class="p-inputgroup">
                                    <input required formControlName="new_password" type="password" pInputText placeholder="">
                                </div>
                                <small id="username-help"></small>
                            </div>
                        </div>
                        <div class="p-field p-md-6 p-sm-12">
                            <label style="font-weight: 400;" for="password">Confirmar contraseña</label>
                            <div class="p-col-12 ">
                                <div class="p-inputgroup">
                                    <input required formControlName="password_confirm" type="password" pInputText placeholder="">
                                </div>
                                <small id="username-help"></small>
                            </div>
                        </div>
                    </div>
                    <div class="p-d-flex p-jc-center ">
                        <button [disabled]="change_password_form.invalid" pButton type="submit" style="width: 50%;" label="Actualizar" class="p-button-raised p-button-success"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>